<div class="row">
  <section class="main col-md-9">
    <article>
      <h2>About</h2>
      <p>
        Hello everyone, I am Rahi Kiransinh Raolji, currently studying Computer
        Programming and Analysis from Seneca college.
      </p>
      <p>
        I startled learning Programming at 16 and started learning python and c
        as my first language. Then I learned html and css. By the time I
        completed my schooling, cyber security Interests me a lot and so I did
        many
        <i>google cloud certifications</i>
        and gathered many badges. Check my google cloud profile :-
        <a
          href="https://www.cloudskillsboost.google/public_profiles/a49faa6b-197d-4201-84ca-e71b5be5785b"
        >Google Cloud badges</a>
      </p>
      <p>
        A certified yoga instructor who received her training at the Lakulish
        Yoga University and have an experience of 6 months as a yoga teacher. In
        10m rifle shooting, I am a state and national champion.
      </p>
      <p>
        I have over 3 years of experience as an Retail Shop Assistant in an
        Indian handicraft clothing store called Indian Thread Art. In addition,
        I am a passionate makeup artist and hairdresser with 1 year of
        experience. Skilled in makeup, waxing, threading, haircut, heena art,
        hair treatments and many more.
      </p>
      Check out my makeup work on the link below:-
      <a
        href="https://drive.google.com/drive/folders/1osAXlaMVefSjigOnVj5utzP3-vYXM3Yf?usp=sharing"
      >My work</a>
    </article>
  </section>
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>
      This website is under development. Please stay tuned for the completed
      version.
    </p>
  </aside>
</div>